.slds-card {
    border-radius: 0.25rem;
    border: solid 1px #d8dde6;
    box-shadow: none;
    margin: 1rem;
    padding: 0;
    background-color: #fff;
}
.slds-card__header {
    border-bottom: solid 1px #d8dde6;
    background-color: #f3f6f9;
    padding: 0.5rem 1rem;
}
.slds-card__header-title {
    margin: 0;
}
.slds-card__body {
    padding: 1rem;
}
.slds-card__footer {
    border-top: solid 1px #d8dde6;
    padding: 1rem;
    text-align: right;
}